@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow-x: hidden;
}

.display-1 {
    width:100px;
    height: 60px;
    transform: scale(1.7);
    margin-left: 10px;
}

nav{
    background-color: rgb(223, 223, 223);
}
nav .btn{
    transition: .5s;
    padding:10;
    font-weight:500;
    font-family:montserrat;
}

nav .btn:hover{
    background-color: rgb(0, 0, 0);
    color:white;
}

.dropdown-menu{
    max-width: 230px;
}

.introText{
    font-family: 'Poppins';
    position: absolute;
    left: 55%;
    top: 30%;
    /* transform: translate(-30%,-80%); */
    color: black;
    /* border: 1px solid black; */
    width: 500px;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 10;
    font-family:poppins;
}
.introContainer{
    position: relative;
    /* border: 4px solid green; */
    
   overflow: hidden;
    height: 79vh;
    width: 100vw;
    
}
.introContainer img{
    position: absolute;
    left: -50%;
    width: 50%;
    border-bottom-right-radius: 350px;
    border-top-right-radius: 0px;
    object-fit: cover;
    filter: drop-shadow(16px 16px 20px blue);
    filter: contrast(200%);
    filter: opacity(48%);   
    filter: saturate(200%);
    filter: brightness(0.7);
    z-index: 2;
   
}

.buttonLinks{
    /* border: 2px solid black; */
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.buttonLinks div{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid pink; */
    width: 90%;

}
.buttonLinks div button {
    text-transform: uppercase;

}
.btnLink{
    width: 300px;
    height: 70px;
    color: white;
    /* border-radius: 20px; */
}
@media only screen and (max-width: 1020px) {
    .introText{
        /* position: absolute; */
        /* left: 50%; */
        top: 50%;
        transform: translate(-50%,-50%);
        color: white;
        font-size: 35px;

    }
    .introContainer img{
        position: absolute;
        left: 0%;
        width: 100vw;
        border-bottom-right-radius: 0px;
            filter: blur(4px);
   

    }
  }
@media only screen and (max-width: 720px) {
    .btnLink{
        width: 200px;
        height: 50px;
        
    }
  }

  #purple{
      background: #800080;
      color: white;
    border-radius: 50px;


  }
  #purple:hover{
    background: #5b025b;
  }